<p>{{postArray}}</p>

<ul>
  <li>{{postArray[0]}}</li>
  <li>{{postArray[1]}}</li>
  <li>{{postArray[2]}}</li>
  <li>{{postArray[3]}}</li>
  <li>{{postArray[4]}}</li>
</ul>

<p>Fetched using *ngFor Directive </p>
<!-- *ngFor Directive -->
<ul>
  <li *ngFor = "let post of postArray">{{ post }}</li>
</ul>

<p>Fetching Object Array</p>

<button (click)="addNew()">Add New Data</button>
<ul>
  <li *ngFor = "let post of objArray; let i = index">
    {{ post.postTitle }}

    <button (click)="deleteThis(i)">Delete</button>

  </li>
</ul>

<!-- NgIf and NgFor -->

<h2>NgIf & NgTemplate Directive</h2>
<div *ngIf = 'newObjArray.length > 0; then postList else noData'>
</div>

<ng-template #postList>
  <li *ngFor = "let post of newObjArray; let i = index">
    {{ post.postTitle }}

    <button (click)="deleteThis(i)">Delete</button>
</ng-template>

<ng-template #noData>
  <p>There is no Data to Fetch</p>
</ng-template>

<br>
<!-- ngSwitchCase -->

<div>
  <button (click)="onClick('step 1')">Step 1</button>
  <button (click)="onClick('step 2')">Step 2</button>
  <button (click)="onClick('step 3')">Step 3</button>
</div>
<br>

<div [ngSwitch] = "stepForm"> 
  <div *ngSwitchCase = "'step 1'">Step 1 Form</div>
  <div *ngSwitchCase = "'step 2'">Step 2 Form</div>
  <div *ngSwitchCase = "'step 3'">Step 3 Form</div>
  <div *ngSwitchDefault> Nothing to Show </div>
</div>

<!-- NGStyle Directive -->

<p>NgStyle Directive</p>

<h1 
  [style.color] = "isActive ? 'red' : 'black'"
  [style.textTransform]= "isActive ? 'uppercase' : 'lowercase'"
>Angular Udemy Courses</h1> 

<h1 [ngStyle]="{ 
      color: isActive ? 'red' : 'black',
      textTransform: isActive ? 'uppercase' : 'lowercase'
    }">
With NgStyle Directive
</h1>


<p>NgClass Directive</p>

<h1
  [class.main] = "isActive"
  [class.text-weight] = "isActive"
>
This is Class Style Binding
</h1>


<h1
  [ngClass]= "{
    'main' : isActive,
    'text-weight': isActive
  }"
>
This is ngClass Style Binding
</h1>
